<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//dtd Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lzdemo2.mapper.OrderIdmapper">
    <select id="findorderid" resultType="com.example.lzdemo2.entity.orderid">
        SELECT order_id FROM trade
    </select>

</mapper>