<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//dtd Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lzdemo2.mapper.Trademapper">
    <select id="findall" resultType="com.example.lzdemo2.entity.trade">
        SELECT * FROM trade
    </select>
    <insert id="insertbyid" parameterType="INTEGER">
        INSERT INTO trade (`ID`, `order_id`) VALUES (#{ID}, '1234567');
    </insert>
    <insert id="insertbyid2" >
        INSERT INTO trade (`ID`, `order_id`) VALUES (#{ID}, #{order_id});
    </insert>
    <delete id="deletebyid" parameterType="INTEGER">
        delete from trade where ID = #{ID} ;
    </delete>
    <delete id="deletebyid2" >
        delete from trade where ID = #{customerid} ;
    </delete>
    <insert id="insert" parameterType="com.example.lzdemo2.entity.trade"  >


        insert into trade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                ID,
            </if>
            <if test="order_id != null">
                order_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">
                #{ID,jdbcType = INTEGER},
            </if>
            <if test="order_id != null">
                #{order_id,jdbcType = VARCHAR}
            </if>
        </trim>

    </insert>
</mapper>

